header{
    width: 100%;
    text-align: center;
}

.main-display-container{
    display: flex;
    justify-content: space-around;
}

.input-container{
  background-color: rgb(11, 14, 25);
  padding: 2% 8%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(57, 80, 99);
  text-align: center;
}

h1{
  margin-top: 4px;
  font-size: 18px;
}

h4{
  margin-top: 13px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-weight: 200;
}

h5{
  margin: 0;
  font-size: 11px;
}

h6{
  text-align: center;
  color: rgb(74, 219, 48);
  margin: 8px 0;
}

hr{
  border-width: 1px;
  border-color: rgb(49, 74, 118)
}

section{
  margin: 1%;
  background-color: rgb(11, 14, 25);
  color: white;
  font-size: 12px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(57, 80, 99);
  height: 275px;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-y: none;
  -webkit-app-region: no-drag; /* buttons are not useable if drag is enabled on body*/
  scroll-behavior: smooth;
}

.hide-overflow{
  overflow: visible;
}

section p{
  margin: 0;
  padding: 0 1%;
  -webkit-app-region: no-drag; /* buttons are not useable if drag is enabled on body*/
}

section::-webkit-scrollbar{
  background-color: rgb(0, 0, 0);
  width: 10px;
  -webkit-app-region: no-drag; 
}

section::-webkit-scrollbar-thumb{
  background-color: rgb(49, 74, 118);
  width: 8px;
  border-radius: 4px 4px 4px 4px;
  -webkit-app-region: no-drag; 
}

label{
  text-decoration: underline rgb(82, 109, 134);
}

input{
  background-color: black;
  margin-top: 14px;
  width: 100%;
  color: white
}

.csv-input::-webkit-file-upload-button{
  background-color: rgb(113, 131, 151);
  color: rgb(0, 0, 0);
  -webkit-app-region: no-drag; /* buttons are not useable if drag is enabled on body*/
}

.csv-input::-webkit-file-upload-button:active, button:target{
  background-color: white;
}

input[type=file] { width: 260px; border: 1px solid rgb(28, 28, 28); }

.merge-button-container{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

button{
  padding: 1% 3%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 16px;
  background-color: rgb(52, 62, 81);
  color: rgb(255, 255, 255);
  -webkit-app-region: no-drag; /* buttons are not useable if drag is enabled on body*/
  border: none;
}

button:hover{
  background-color: rgb(78, 91, 116);
}

.download-btn-cont{

  display: flex;
  justify-content: center;
}

.download-btn{
  background: none;
  border: none;
  padding: 0;
}

.close-app{
  display: block;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  color: rgb(140, 156, 186);
}

.version-date{
  display: block;
  padding: 0;
  margin: 0;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  color: rgb(140, 156, 186);
}

.remove-btn-style{
  background: none;
  border: none;
  padding: 0;
}

.merge-recap{
  text-align: center;
}

#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer{
  color: white;
  font-size: 11px;
  text-align: center;
}