header{
    width: 100%;
    text-align: center;
}

.main-display-container{
    display: flex;
    justify-content: space-around;
}

.input-container{
  background-color: rgb(11, 14, 25);
  padding: 2% 8%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(57, 80, 99);
  text-align: center;
}

h1{
  margin-top: 4px;
  font-size: 18px;
}

h4{
  margin-top: 13px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  color: white;
}

h5{
  margin: 0;
  font-size: 11px;
}

hr{
  border-width: 1px;
  border-color: rgb(15, 27, 47)
}

section{
  margin: 0;
  padding: 0;
  background-color: rgb(11, 14, 25);
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  font-size: 14px;
}

label{
  text-decoration: underline rgb(82, 109, 134);
}

input{
  margin-top: 14px;
}